*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #3f3f3f;
  font-family: $font;
  font-weight: 500;
}


h1,
.h1 {
  font-size: 2.5rem; //48px
}

h2,
.h2 {
  font-size: 1.4rem; //26px
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.1rem; //20px
  font-weight: 700;
}

.small {
  font-size: .8rem; //16px
}

a {
  text-decoration: none;
}

span {
  &.primary {
    color: $primary;
  }
}

html,
body,
#root,
#app {
  height: 100%;
}

.content {
  height: calc(100% - 90px);
}

#app {
  width: 1440px;
  margin: 0 auto;
}

.content {
  background-color: $white;
}

img.responsive {
  display: block;
  width: 100%;
  height: auto;
}

/* BUTTONS */
button,
a.button {
  border-radius: $corner;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: $font;
  font-size: 1rem;
  cursor: pointer;

  &.primary {
    background-color: $primary;
    color: $white;
  }
}

/* CARD */
.card {
  @include card;
}