@import "../../../styles/vars.scss";

.graph {
  position: relative;
  height: 320px;
  @include card;
}

.title {
  position: absolute;
  top: 20px;
  left: 50px;
}

.legend {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.legendItem {
  color: $textLight;
  display: flex;
  align-items: center;
  gap: 10px;
}

.legendIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}